<%= simple_form_for @business_request, remote: true do |f| %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.input :first_name %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= f.input :last_name %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= f.input :email %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= f.input :phone %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= f.input :company %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= f.input :employee_range,
                  prompt: 'Sélectionnez',
                  collection: BusinessRequest::EMPLOYEE_RANGES %>
    </div>
  </div>

  <%= f.simple_fields_for :address do |a| %>
    <%= a.input :complete, placeholder: '' %>
  <% end %>

  <%= f.input :message, label: "Comment envisagez-vous d'utiliser BackSit ?" %>

  <%= f.submit "Envoyer", class: 'btn btn-block btn-primary' %>
<% end %>
