<%= simple_form_for @business_request, remote: true do |f| %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.input :first_name, placeholder: 'Roger' %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= f.input :last_name, placeholder: 'Roger' %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= f.input :email, placeholder: 'roger@kariol.co' %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= f.input :phone, placeholder: '01 23 45 67 89' %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= f.input :company, placeholder: 'Carry All corp' %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= f.input :employee_range,
                  prompt: "Nombre d'employés",
                  collection: BusinessRequest::EMPLOYEE_RANGES %>
    </div>
  </div>

  <%= f.simple_fields_for :address do |a| %>
    <%= a.input :complete, placeholder: 'Addresse' %>
  <% end %>

  <%= f.input :message, placeholder: 'Décrivez votre plan de mobilité' %>

  <%= f.submit "Envoyer", class: 'btn btn-primary' %>
<% end %>
