<div class="banner" style="background-image: linear-gradient(rgba(54, 66, 112, 0.7), rgba(115, 188, 149, 0.4)), url('http://www.naturalnews.com/gallery/640/Children/Friends-Bus-Transportation-Talking.jpg');">
  <div class="banner-container">
    <div class="banner-top">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png' %>
      <% end %>
      <%= link_to 'Employés', root_path, class: 'btn btn-primary' %>
    </div>

    <div class="banner-content">
      <div class="banner-headline">
        <h1>Le quotidien de vos employés réinventé</h1>
      </div>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-6">
          <div class="banner-description">
            <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#business-request-modal">
            Demander une simulation
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Benefits</div>
    <div class="panel-body">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#business-request-modal">
        Demander une simulation
      </button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Description</div>
    <div class="panel-body">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#business-request-modal">
        Demander une simulation
      </button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Numbers</div>
    <div class="panel-body">
      <div id="num"></div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#business-request-modal">
        Demander une simulation
      </button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Team</div>
    <div class="panel-body">
    </div>
  </div>
</div>

<%= content_for :js do %>
  <script type="text/javascript">
    var numAnim = new CountUp("num", 24.02, 99.99);
    if (!numAnim.error) {
    } else {
      console.error(numAnim.error);
    };
    $("#num").inViewport(function(px) {
      console.log( px ); // `px` represents the amount of visible height
      if(px>20 && !this.initNumAnim) {
        this.initNumAnim = true; // Set flag to true to prevent re-running the same animation
        // <<< DO SOME COOL STUFF HERE!
        numAnim.start();
    // do this if element enters the viewport // px > 0
      }else{
        // do that if element exits  the viewport // px = 0
      }
    }); // Here you can chain other jQuery methods to your selector
  </script>
<% end %>

<!-- Modal -->
<div class="modal fade" id="business-request-modal" tabindex="-1" role="dialog" aria-labelledby="business-request-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="business-request-modal-label">Demande de simulation</h4>
      </div>

      <div class="modal-body">
        <div id="new-business-request">
          <%= render 'business_requests/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
