<div class="banner">
  <div class="banner-top">
    <div class="container">
      <div class="banner-top-content">
        <div class="banner-top-brand">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-large-container background-hidden-xs" style="background-image: url('<%= image_path 'banner-alternate.png' %>');">
    <div class="banner-content background-hidden-xs" style="background-image: url('<%= image_path 'banner.png' %>');">
      <div class="banner-spacer hidden-xs hidden-sm"></div>

      <div class="container">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-3 col-md-7 col-md-offset-5">
            <div class="">
              <%= link_to 'daily', daily_path %>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-3 col-md-7 col-md-offset-5">
            <div class="">
              <%= link_to 'business', business_path %>
            </div>
          </div>
        </div>
      </div>

      <div class="banner-spacer visible-sm"></div>
    </div>
  </div>
</div>
