<div class="banner" style="background-image: linear-gradient(170deg, rgba(232, 238, 236, 1), rgba(232, 238, 236, 1)), url('');">
  <div class="banner-container">
    <div class="banner-top">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png' %>
      <% end %>
      <%= link_to 'Entreprise, embarquez ici', enterprise_path, class: 'btn btn-info' %>
    </div>
    <div class="banner-content">
      <div class="banner-headline">
        <h1>Laissez-vous transporter</h1>
        <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-6">
          <div class="banner-form">
            <p>Précisez-nous votre trajet, Kariol arrive !</p>
            <div class="new-commute-request">
              <%= render 'commute_requests/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="benefits">
  <h2>Valorisez votre trajet domicile travail</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'favicon.png' %>
          <h3>Qualité de vie</h3>
          <p>Moins de stress lié à la conduite où aux problèmes des transports en commun</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'favicon.png' %>
          <h3>Qualité de vie</h3>
          <p>Moins de stress lié à la conduite où aux problèmes des transports en commun</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'favicon.png' %>
          <h3>Qualité de vie</h3>
          <p>Moins de stress lié à la conduite où aux problèmes des transports en commun</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'favicon.png' %>
          <h3>Qualité de vie</h3>
          <p>Moins de stress lié à la conduite où aux problèmes des transports en commun</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'favicon.png' %>
          <h3>Qualité de vie</h3>
          <p>Moins de stress lié à la conduite où aux problèmes des transports en commun</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'favicon.png' %>
          <h3>Qualité de vie</h3>
          <p>Moins de stress lié à la conduite où aux problèmes des transports en commun</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="explanations">
  <div class="explanations-title">
    <div class="container">
      <h2>Privilégiez votre qualité de vie en réinventant votre quotidien, comment ça marche ?</h2>
    </div>
  </div>
  <div class="container">
    <div class="explanation">
      <div class="row no-gutter">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
          <%= image_tag 'banner.jpg' %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
          <h3>Des minibus confortables</h3>
          <p>Capacité de 9 à 14 personnes, des équipements utiles : chargeurs USB, Wifi..., des équipements à la demande : rack vélo...</p>
        </div>
      </div>
    </div>

    <div class="explanation">
      <div class="row no-gutter">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-push-6 col-sm-offset-0">
          <%= image_tag 'banner.jpg' %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-pull-6 col-sm-offset-0">
          <h3>Des minibus confortables</h3>
          <p>Capacité de 9 à 14 personnes, des équipements utiles : chargeurs USB, Wifi..., des équipements à la demande : rack vélo...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta">
    <div class="container">
      <div class="row">
        <h2>Précisez-nous votre trajet, Kariol arrive !</h2>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
          <div class="cta-form">
            <div class="new-commute-request">
              <%= render 'commute_requests/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="team">

</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Team</div>
    <div class="panel-body">
    </div>
  </div>
</div>
