<div class="banner">
  <div class="banner-top">
    <div class="container">
      <div class="banner-top-content">
        <div class="banner-top-brand">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </div>
        <div class="banner-top-cta">
          <div class="hidden-xs">
            <%= image_tag 'van_marine.png' %>
            <%= link_to 'Entreprise ? Embarquez ici', enterprise_path, class: 'btn btn-info' %>
          </div>
          <div class="visible-xs">
            <%= link_to 'Entreprise', enterprise_path, class: 'btn btn-info' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-large-container background-hidden-xs" style="background-image: url('<%= image_path 'banner-alternate.png' %>');">
    <div class="banner-content background-hidden-xs" style="background-image: url('<%= image_path 'banner.png' %>');">
      <div class="banner-spacer hidden-xs hidden-sm"></div>

      <div class="banner-headline">
        <div class="container">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-4">
              <h1>Laissez-vous transporter</h1>
              <h4>BackSit est un service de navettes collectives, qui vous transporte de votre domicile à votre travail rapidement et confortablement</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-3 col-md-7 col-md-offset-5">
            <div class="banner-form">
              <p>Précisez-nous votre trajet, BackSit arrive !</p>
              <div class="new-commute-request">
                <%= render 'commute_requests/form' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="banner-spacer visible-sm"></div>
    </div>
  </div>
</div>

<div class="section-title">
  <div class="container">
    <h2>Valorisez votre trajet domicile-travail</h2>
  </div>
</div>

<div class="benefits">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'quality_of_life.png' %>
          <h3>Qualité de vie</h3>
          <p>Libérez-vous du stress lié à la conduite, ou des contraintes des transports en commun</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'confort.png' %>
          <h3>Confort</h3>
          <p>Assurez-vous une place assise et confortable avec des services à bord</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'responsible.png' %>
          <h3>Responsable</h3>
          <p>Participez à une action citoyenne destinée à rendre nos villes plus propres et agréables à vivre</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'economical.png' %>
          <h3>Economique</h3>
          <p>Faites des économies par rapport à l’utilisation de la voiture</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'fast.png' %>
          <h3>Rapide</h3>
          <p>Gagnez du temps grâce à notre technologie intelligente de prise en charge et d’optimisation des trajets</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'simplicity.png' %>
          <h3>Simplicité</h3>
          <p>Connectez-vous simplement via nos interfaces, applications et site web accessibles à tous</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-title">
  <div class="container">
    <h2>Privilégier votre qualité de vie en réinventant votre quotidien, comment ça marche ?</h2>
  </div>
</div>

<div class="explanations">
  <div class="container">
    <div class="explanation">
      <div class="row gutter-0">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
          <%= image_tag 'van.jpg', class: 'fit-left' %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="explanation-content explanation-content-padded">
            <%= image_tag 'coral_van_icon.png', class: 'hidden-xs h-120' %>
            <h3>Navettes et chauffeurs</h3>
            <p>Votre sécurité et votre confort sont au centre de nos préoccupations. Nos véhicules sont conduits par des chauffeurs professionnels, répondant à une charte de qualité exigeante.</p>
            <p>Ces véhicules sont des vans de 8 places, récents et spacieux. Et pour que l’expérience soit encore meilleure, nous vous proposons des services à bord : chargeurs smartphone et ordinateurs, wifi, presse...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="explanation">
      <div class="row gutter-0">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-push-6 col-sm-offset-0">
          <%= image_tag 'map.jpg' %>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
          <div class="explanation-content explanation-content-padded">
            <%= image_tag 'geolocation_icon.png', class: 'hidden-xs h-120' %>
            <h3>Lignes intelligentes, optimisées pour votre trajet domicile-travail</h3>
            <p>Notre algorithme prend en compte un ensemble de critères fixes et variables, pour créer des lignes de transport optimisées en temps réel.</p>
            <p>Cette technologie nous garantit le temps de trajet le plus court, avec plus de 95% de trajets à l'heure !</p>
          </div>
        </div>
      </div>
    </div>

    <div class="explanation">
      <div class="row gutter-0">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
          <%= image_tag 'interface.jpg' %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="explanation-content explanation-content-padded">
            <%= image_tag 'interface_icon.png', class: 'hidden-xs h-120' %>
            <h3>Interfaces simples et intuitives pour l’utilisation au quotidien</h3>
            <p>Nous avons conçu une application et un site internet vous permettant de :</p>
            <ul>
              <li>réserver votre siège dans une navette, avec la garantie d’être assis,</li>
              <li>payer en ligne,</li>
              <li>suivre votre navette en temps réel.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-title">
  <div class="container">
    <%= image_tag 'pricing.png', class: 'h-80 mb-20' %>
    <h2>Pas de surprise : le tarif est fixe, au trajet ou par abonnement, avec une prise en charge possible par votre entreprise</h2>
  </div>
</div>

<div class="cta">
    <div class="container">
      <div class="row">
        <h2>Précisez-nous votre trajet, BackSit arrive !</h2>
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <div class="cta-form">
            <div class="new-commute-request">
              <%= render 'commute_requests/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="section-title section-title-inverse">
  <div class="container">
    <h2>Vous êtes une entreprise ?</h2>
    <%= link_to 'Embarquez ici', enterprise_path, class: 'btn btn-info' %>
  </div>
</div>

<div class="team">
  <div class="container">
    <div class="team-title">
      <h2>Une équipe fondée autour d'un objectif commun</h2>
      <h4>Rendre les villes plus durables et agréables à vivre. Notre mission ? Rendre le transport domicile-travail plus intelligent !</h4>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
        <div class="team-member">
          <%= image_tag 'nicolas.png' %>
          <h3>Nicolas Dinouard</h3>
          <p>Le voyage est une grande partie de ma vie, j’aimerais rendre les voyages du quotidien plus intelligents</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
        <div class="team-member">
          <%= image_tag 'francoisl.png' %>
          <h3>François Larratte</h3>
          <p>De nature très urbaine, je cherche à apporter une solution pour aider les villes à se vider des voitures individuelles</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
        <div class="team-member">
          <%= image_tag 'francoisc.png' %>
          <h3>François Catuhe</h3>
          <p>J'aime quand tout est bien optimisé, toutes ces voitures sur les routes le matin pointent la nécessité de trouver une alternative</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
        <div class="team-member">
          <%= image_tag 'aurelie.png' %>
          <h3>Aurélie Ronfaut</h3>
          <p>Sensible à l'environnement, je défends l'harmonie entre vie professionnelle et vie personnelle, et cela passe aussi par le transport</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="shareModalContainer"></div>
