<% content_for(:title) do %>
  Mentions légales
<% end %>

<div class="container">
  <h1>Mentions légales</h1>
  <h3>Editeur du site</h3>
  <p>
    Le site <%= t 'meta-site' %> est édité par <%= t 'meta-company' %>, <%= t 'meta-company-status' %>, <%= t 'meta-company-registration' %>, ayant son siège social <%= t 'meta-company-address' %>.
  </p>
  <p>
    Email : <%= t 'meta-email' %>
  </p>
  <p>
    Directeur de la publication : <%= t 'meta-publisher' %>.
  </p>

  <h3>Hébergeur</h3>
  <p>
    Ce site est hébergé auprès de <a href="https://www.heroku.com/">Heroku</a>.
  </p>

  <h3>Accès à vos données à caractère personnel</h3>
  <p>
    Conformément à la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez du droit d'obtenir la communication et, le cas échéant, la rectification ou la suppression des données vous concernant, en nous contactant par email.
  </p>
</div>
