<%= content_for :title do %>
  Kariol Pro | Mutualisez vos trajets professionnels
<% end %>
<%= content_for :description do %>
  Navettes partagées entre entreprises à destination des gares et aéroports
<% end %>
<%= content_for :og_image do %>
  og_image.jpg
<% end %>

<div class="navbar-kariol navbar-fixed-top">
  <div class="container">
    <div class="navbar-kariol-content">
      <div class="navbar-kariol-brand">
        <%= image_tag 'logo.png' %>
        pro
      </div>

      <div class="navbar-kariol-right">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#proRequestModal">
          Contactez-nous
        </button>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="banner-top-80"></div>
  <div class="banner-large-container">
    <div class="banner-content banner-content-bottom" style="background-image: url('<%= image_path 'banner-enterprise.jpg' %>');">
      <div class="banner-headline banner-headline-center">
        <div class="container">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
              <h1>Mutualisez vos trajets professionnels</h1>
              <h4>Navettes partagées entre entreprises à destination des gares et aéroports</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="banner-spacer"></div>

      <div class="banner-spacer"></div>

      <div class="banner-spacer"></div>

      <div class="banner-spacer"></div>
    </div>
  </div>
</div>

<div class="benefits">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'optimisation.png' %>
          <h3>Economique</h3>
          <p>Partagez les coûts de transports vers les gares et aéroports entre vos salariés et les salariés des entreprises environnantes</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'responsible.png' %>
          <h3>Responsable</h3>
          <p>Adoptez une solution mutualisée pour diminuer l’impact CO<sub>2</sub> de vos déplacements professionnels</p>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="benefit">
          <%= image_tag 'simplicity.png' %>
          <h3>Simple</h3>
          <p>Une interface simple à utiliser pour tous les usagers</p>
          <p>Une facturation centralisée au niveau de l’entreprise : rien à avancer, pas de notes de frais.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-title">
  <div class="container">
    <h2>Comment ça marche ?</h2>
  </div>
</div>

<div class="explanations">
  <div class="container">
  </div>
</div>

<div class="explanations">
  <div class="container">
    <div class="explanation">
      <div class="row gutter-0">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
          <%= image_tag 'van.jpg', class: 'fit-left' %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="explanation-content explanation-content-padded">
            <%= image_tag 'coral_van_icon.png', class: 'hidden-xs' %>
            <h3>Navettes et chauffeurs</h3>
            <p>Votre sécurité et votre confort sont au centre de nos préoccupations. Nos véhicules sont conduits par des chauffeurs professionnels, répondant à une charte de qualité exigeante.</p>
            <p>Ces véhicules sont des berlines et vans récents et spacieux. Et pour que l’expérience soit encore meilleure, nous vous proposons des services à bord : chargeurs smartphone et ordinateurs, wifi, presse...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="explanation">
      <div class="row gutter-0">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-push-6 col-sm-offset-0">
          <div id='map'></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
          <div class="explanation-content explanation-content-padded">
            <%= image_tag 'geolocation_icon.png', class: 'hidden-xs' %>
            <h3>Zones desservies</h3>
            <p>Des points de prise en charge toujours à moins de 500m sur l’ensemble de la zone desservie.</p>
            <p>Des points de rencontre précis à chaque gare et terminal d’aéroport.</p>
            <p>Au retour des gares et aéroports, la dépose peut s’effectuer à domicile sur simple demande au chauffeur.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="explanation">
      <div class="row gutter-0">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
          <div class="explanation-content">
            <iframe width="298" height="540" src="https://www.youtube.com/embed/SD7VwVNgxuc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="explanation-content explanation-content-padded">
            <%= image_tag 'interface_icon.png', class: 'hidden-xs' %>
            <h3>Inscription</h3>
            <p>Créez votre compte sur l'application mobile, celui-ci doit ensuite être validé par l'entreprise.</p>
            <h3>Réservation</h3>
            <p>Votre entreprise vous fournit un code permettant de réserver vos trajets gratuitement.</p>
            <h3>Trajet</h3>
            <p>Suivez l’approche de votre véhicule en temps réel et soyez notifié de l’horaire de prise en charge précis.</p>
            <p>L’horaire d’arrivée indiquée prend en compte les détours potentiels et les conditions de trafic.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="proRequestModal" tabindex="-1" role="dialog" aria-labelledby="proRequestModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <h4>Contactez Nicolas Dinouard au <%= link_to '06 85 57 42 96', 'tel:+33685574296' %></h4>
        <p>ou</p>
        <h4>Demandez à être recontacté</h4>
        <div id="newProRequest">
          <%= render 'pro_requests/form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="shareModalContainer"></div>
