<%= simple_form_for @commute_request, remote: true do |f| %>
  <%= f.simple_fields_for :origin do |o| %>
    <%= o.input :complete, label: false, wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><%= icon 'home' %></span>
      <%= o.input_field :complete, placeholder: 'Mon domicile', class: 'form-control' %>
    <% end %>
  <% end %>

  <%= f.simple_fields_for :destination do |d| %>
    <%= d.input :complete, label: false, wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><%= icon 'building' %></span>
      <%= d.input_field :complete, placeholder: 'Mon travail', class: 'form-control' %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <%= f.input :arrival_time_string, label: false, wrapper: :vertical_input_group do %>
        <span class="input-group-addon"><%= icon 'clock-o' %></span>
        <%= f.input_field :arrival_time_string,
          prompt: 'Arrivée',
          collection: CommuteRequest::ARRIVAL_TIMES,
          class: 'form-control' %>
      <% end %>
    </div>

    <div class="col-xs-12 col-md-8">
      <%= f.input :email, label: false, wrapper: :vertical_input_group do %>
        <span class="input-group-addon"><%= icon 'envelope-o' %></span>
        <%= f.input_field :email, placeholder: 'roger@kariol.co', class: 'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="text-right">
    <%= f.submit "J'embarque", class: 'btn btn-primary' %>
  </div>
<% end %>
