<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= yield_with_default(:title, t('meta-title')) %></title>
    <%= render 'application/favicon' %>
    <meta name="description" content="<%= yield_with_default(:description, t('meta-description')) %>">

    <%= csrf_meta_tags %>

    <meta property="fb:app_id" content="<%= t('meta-fb-app-id') %>"/>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="<%= t('meta-title') %>">
    <meta property="og:url" content="<%= t('meta-url') %>">
    <meta property="og:title" content="<%= yield_with_default(:title, t('meta-title')) %>">
    <meta property="og:description" content="<%= yield_with_default(:description, t('meta-description')) %>">
    <meta property="og:image" content="<%= t('meta-url') + image_path('og_image.jpg') %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= t('meta-twitter') %>">
    <meta name="twitter:creator" content="<%= t('meta-twitter') %>">
    <meta name="twitter:title" content="<%= yield_with_default(:title, t('meta-title')) %>">
    <meta name="twitter:description" content="<%= yield_with_default(:description, t('meta-description')) %>">
    <meta name="twitter:image:src" content="<%= t('meta-url') + image_path('og_image.jpg') %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <% if controller_name == 'pages' %>
      <%= yield %>
    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false' %>
  </body>
</html>
